 @model YontafaeOBih.WebUI.Models.Content

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Content</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentDescription)
        </dt>

        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(@Html.DisplayFor(model => model.ContentDescription).ToString()))
            @*@Html.DisplayFor(model => model.ContentDescription)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model => model.ContentImage)"
                  class="thumbnail" style="width:48px; height:48px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
