@model IEnumerable<YontafaeOBih.WebUI.Models.ApplyForThisContent>

@{
    ViewBag.Title = "GetContentsByUser";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>جميع المحتويات المتقدم إليها من طرفكم</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.content.ContentTitle)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.content.ContentTitle)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyDate)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.Id }) |
            @Html.ActionLink("تفاصيل", "DetailsOfContents", new { id=item.Id }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
